# development
DATABASE_URL_DEVELOPMENT="postgres://locker_room:locker_room@localhost:5432/locker_room_development"
# test
DATABASE_URL_TEST="postgres://locker_room:locker_room@localhost:5432/locker_room_test"
TEST_PRIDE="YES"
