<div>
  <p>You are changing to the '<%= @plan.name %>' plan</p>
  <p>This plan costs <strong>$<%= @plan.price %></strong> per month</p>
</div>

<% if current_team.subscription_id.present? %>
  <%= render 'edit_subscription' %>
<% else %>
  <%= render 'new_subscription' %>
<% end %>
